

<form action="" method="post" name="form_send_message" class="form">
  <input type="hidden" name="sessid" id="sessid" value="305e5d98db3b6bb70b7d82ae7b89188e">				<input type="hidden" name="action" value="send_message">
  <div class="form-container">
    <textarea name="text" class="form-textarea"></textarea>
    <div class="form-button-container">
      <button type="submit" class="webform-small-button webform-small-button-blue" data-role="sms-send-submit">
        <span class="webform-small-button-text">Отправить</span>
      </button>
    </div>
    <div class="form-info-container">
      <div class="form-info-left">знаков <span data-role="sms-text-length">0</span> из <span>200</span></div>
      <div class="form-info-right">осталось тестовых SMS: <span data-role="form-limit">5</span></div>
    </div>
  </div>
</form>